<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381210328781-cnp790tal5ptiq8coa6csgfrekoa4f1u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381210328781-cnp790tal5ptiq8coa6csgfrekoa4f1u</string>
	<key>API_KEY</key>
	<string>AIzaSyA493Z1Zsw5sHYBj-f2OOZ1zR5PEp9I8rQ</string>
	<key>GCM_SENDER_ID</key>
	<string>381210328781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodrecipe</string>
	<key>PROJECT_ID</key>
	<string>foodrecipe-8d34c</string>
	<key>STORAGE_BUCKET</key>
	<string>foodrecipe-8d34c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381210328781:ios:e6ffc764f87d25c37ef384</string>
	<key>DATABASE_URL</key>
	<string>https://foodrecipe-8d34c-default-rtdb.firebaseio.com</string>
</dict>
</plist>